{
    "presets": [
        ["env", {"modules": false}],
        "stage-2",
        "stage-3",
        "react"
    ],
    "plugins": [
        ["import", [
            {
                "libraryName": "antd-mobile",
                "style": true
            },
            {
                "libraryName": "antd",
                "style": true
            }
        ]
        ],
        "transform-decorators-legacy"
    ]
}